<br>

<div class="container">
    <div class="card bg-dark text-white">
        <img src="/images/ca1.png" class="card-img" alt="500px">
        <div class="card-img-overlay">
            <h2 class="card-title">Prodotti</h5>
            <h4 class="card-text">Tutti i nostri fantastici prodotti.</p>
            <br><br>
            <a href="/products"><button type="button" class="btn btn-primary">Prodotti</button></a>
        </div>
    </div>
</div>

<br>

<div class="container">
    <div class="card bg-dark text-white">
        <img src="/images/ca1.png" class="card-img" alt="500px">
        <div class="card-img-overlay">
            <h2 class="card-title">Newsletter</h5>
            <h4 class="card-text">Iscriviti alla newsletter</p>
            <br><br>
            <a href=""><button type="button" class="btn btn-primary">Iscriviti</button></a>
        </div>
    </div>
</div>